.authorization__button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  width: 100%;
  min-height: 50px;
  white-space: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  transition: opacity 0.1s linear;
  cursor: pointer;
}

.authorization__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 500px) {
  .authorization__button {
    font-size: 16px;
    line-height: 1.18;
    min-height: 46px;
  }
}
