.popup__close {
  cursor: pointer;
  background: url(../../../images/Close-Icon.svg) center no-repeat;
  border: none;
  max-width: 32px;
  min-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: -45px;
  right: -44px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close {
    top: -39px;
    right: 0;
    max-width: 20px;
    min-height: 20px;
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
