.popup-title__type_infoTooltip {
  margin: 32px 0 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .popup-title__type_infoTooltip {
    font-size: 20px;
    margin: 40px 0 0;
  }
}
