.popup__container_infoTooltip {
  display: flex;
  flex-direction: column;
  padding: 60px 36px;
}

@media screen and (max-width: 500px) {
  .popup__container_infoTooltip {
    padding: 50px 18px;
  }
}
