.elements {
  margin: 0 auto;
  padding: 50px 2px 2px 0;
  width: 100%;
}

@media screen and (max-width: 899px) {
  .elements {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    padding: 36px 2px 2px;
  }
}
