.element__delete {
  margin: 0;
  padding: 0;
  background: none;
  background-image: url(../../../images/Trash.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 21px;
  width: 18px;
  height: 19px;
}

.element__delete:hover {
  opacity: 0.6;
}
